body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 10px;
    line-height: 3;
    font-size: 30px;
    background-color: #8b9fc5 !important;
   
}
.card {
  margin-bottom: 20px; /* Aggiunge spazio verticale tra le card */
  size: 15cm;
  border: #000000;
  
}
.card-sm{
     max-width: 400px; /* imposta larghezza massima */
     font-size: 1rem; /* riduci un po' la dimensione del testo */
}
.card-img-top {
    padding: 15px;
    object-fit: contain;
    background-color: transparent;
}
.d-flex {
  margin-top: 30px /* spazio sopra il gruppo di card */

}


h1 {
    margin-top: 5px;
}
header {
    top: 0;
    padding: 3px;
}

nav {
    padding: 1.5vw;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin: 0 1.5vw 2.5vw;
    font-weight: bold;
    font-size: 2.5vw;
    border-bottom-color: #978b8b;
}

section {
    padding: 5px;
    margin: 20px;
    background-color: 
    
}

div {
    border: 5px;
}

img {
    width: 100%;
    height: auto;
}

main {
    margin: auto;
}
.titolo {
   font-size: 50px;
    text-align: center;
}
.containerButton {
    display: flex;
    justify-content: center;
}
footer {
  text-align: center; /* centra il testo */
  width: 100%;        /* occupa tutta la larghezza */
  margin: 0 auto;     /* se ha un max-width lo centra */
  padding: 20px;
 
}

.btn-danger {
    margin: 1vw auto;
    padding: 3vw;
    width: 30%;
}
.btn-primary {
  background-color: #000000;
}

@media (max-width: 1200px) {
    body {
        background-color: #ff1010;
    }

}

@media (max-width: 992px) {
    body {
        background-color: #ff1010;
    }

}

@media (max-width: 768px) {
    body {
        background-color: #ff1010;
    }

}

@media (max-width: 576px) {
    body {
        background-color: #ff1010;
    }
}